.hero {
	height: 60vh;
	background-image: url('../../../Assets/furnicap_whyus.webp');
	background-size: cover;
	background-position: center left;
	background-repeat: no-repeat;
	margin-left: -0.8rem;
	margin-right: -0.8rem;
}
