.hero {
    width: 100%;
    height: 60vh;
    background-image: url('../../../Assets/furnicap_whyus.png');
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
}